label{
    color: rgb(161, 20, 20);
   }  
   body{
    background-color: rgb(130, 130, 131);
   }
h2{
    color: brown;
}
.botao{
    background-color: black;
    color: azure ;
}
.botaodeyan
{
background-color: rgb(21, 219, 219);
color: black;
}